<footer>
    <div class="container">

      <div class="contact-section">

        <!-- Left Column -->
        <div class="contact-left">
          <h3>Contact</h3>
          <p>artofparadiseeee@gmail.com</p>
        </div>

        <!-- Middle Column -->
        <div class="contact-center">
          <a href="/">
            <img 
              src="/assets/images/hero-logo.png" 
              loading="lazy" 
              alt="Logo" 
              class="contact-logo"
            >
          </a>
        </div>

        <!-- Right Column -->
        <div class="contact-right">
          <h3>Social Media</h3>

          <a href="https://instagram.com/artofparadiseeee" target="_blank" class="ig-link">
            @artofparadiseeee
            <img src="/assets/images/instagram.svg" loading="lazy" alt="Instagram">
          </a>

          <a href="https://instagram.com/aop.portrait" target="_blank" class="ig-link">
            @aop.portrait
            <img src="/assets/images/instagram.svg" loading="lazy" alt="Instagram">
          </a>

          <a href="https://instagram.com/aop.vfx" target="_blank" class="ig-link">
            @aop.vfx
            <img src="/assets/images/instagram.svg" loading="lazy" alt="Instagram">
          </a>

        </div>

      </div>

      <div class="footer-content">

        <p>© 2026 artofparadiseeee • All Rights Reserved</p>

      </div>

    </div>

</footer>