<div class="sidebar" id="sidebar">

  <div class="sidebar-header">
    <span class="close-btn" id="closeBtn">✕</span>
  </div>

  <ul class="sidebar-links">

    <li><a href="/">HOME</a></li>
    <!-- <li><a href="/showreel/">SHOWREEL</a></li> -->

    <!-- Works -->
    <li class="dropdown">

      <div class="sidebar-row has-arrow" data-toggle>
        WORKS <span class="arrow">▾</span>
      </div>

      <div class="dropdown-menu">
        <a href="/works/award-winning/">Award-Winning</a>
        <a href="/works/teaser/">Teaser</a>
        <a href="/works/short-film/">Short Film</a>
        <a href="/works/music-video/">Music Video</a>
        <a href="/works/documentary/">Documentary</a>
        <a href="/works/commercial/">Commercial</a>
        <a href="/works/performance/">Performance</a>
        <a href="/works/visual-led/">Visual LED</a>
        <a href="/works/photography/">Photography</a>
      </div>

    </li>

    <!-- Expertise -->
    <li class="dropdown">

      <div class="sidebar-row has-arrow" data-toggle>
        EXPERTISE <span class="arrow">▾</span>
      </div>

      <div class="dropdown-menu">
          <a href="/expertise/director">Director</a>
          <a href="/expertise/cinematographer">Cinematographer</a>
          <a href="/expertise/editor">Editor</a>
          <a href="/expertise/colorist">Colorist</a>
          <a href="/expertise/vfx-artist">VFX/3D Artist</a>
      </div>

    </li>

  </ul>

</div>

  <!-- Sidebar Overlay (Tablet Only) -->
<div class="sidebar-overlay" id="sidebarOverlay"></div>