/* ================= PLAYER HERO ================= */

.player-hero {
  width: 100%;
  background: black;

  /* Center child */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.player-container {
  width: 100%;
  max-width: 900px;
  padding: 0px;
}

/* Video Area */
.video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: black;
}

/* Video */
video {
  width: 100%;
  height: 100%;
  display: block;
}

/* Controls Bar */
.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;

  width: 100%;
  padding: 10px;

  background: linear-gradient(
    transparent,
    rgba(0,0,0,0.7)
  );

  display: flex;
  align-items: center;
  gap: 10px;
}

/* Buttons */
.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* ================= RANGE SLIDER (TIMELINE) ================= */

#timeline {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  outline: none;
}


/* Chrome / Safari */
#timeline::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}


/* Firefox */
#timeline::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#timeline::-moz-range-track {
  background: rgba(255,255,255,0.3);
  height: 4px;
  border-radius: 2px;
}


/* Edge / IE */
#timeline::-ms-thumb {
  background: #fff;
}

#time {
  white-space: nowrap;
  font-size: 14px;
  min-width: 90px;
  text-align: center;
}

/* Volume */

.volume-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 120px;
}

.volume-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}

/* ================= VOLUME ================= */

#volume {
  width: 80px;
  height: 4px;

  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  background: rgba(255,255,255,0.3);
  border-radius: 2px;
}


/* Thumb */
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

#volume::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  border: none;
}

/* Title */
#title {
  margin-top: 20px;
  text-align: center;
  font-size: 1.8rem;
}

/* ================= CENTER PLAY ================= */

.center-play {
  position: absolute;
  inset: 0;

  margin: auto;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  border: none;

  background: rgba(0,0,0,0.6);
  color: white;

  font-size: 32px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;

  transition: opacity 0.3s;
}


/* Hide */
.center-play.hidden {
  opacity: 0;
  pointer-events: none;
}


/* ================= AUTO HIDE CONTROLS ================= */

.controls {
  opacity: 1;
  transition: opacity 0.3s;
}

.controls.hide {
  opacity: 0;
  pointer-events: none;
}

/* ================= THUMBNAIL ================= */

.video-thumb {
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 5;

  transition: opacity 0.4s ease;

  pointer-events: none;
}

/* Hide when playing */
.video-thumb.hidden {
  opacity: 0;
}